.col-md-6.col-md-offset-3
  .jumbotron-programs
    .text-center
      %h2
        Programs Offered
        %br
      = link_to "Add a Program", new_program_path
- @programs.each do |program|
  .col-md-4
    .list-group-item
      .text-center
        = link_to program.name, program_path(program)
        %br
        = link_to "Edit Program", edit_program_path(program)
        |
        = link_to "Delete Program", program_path(program), method: :delete
        %br
        %br