%div
%h2
= link_to "Welcome", root_path
|
%div
%h2
  = @client.first_name + @client.last_name
  %div
  Date of Birth:
  %div
  Goals:

  =link_to "Delete Client", client_path(@client), method: :delete
  |
  = link_to 'Back', root_path
