="Trainers"
%br
%br
=link_to "Home", root_path
%br
%br
%br
/ =link_to :back
%br
=link_to "Add New Trainer", new_trainer_path

%br
%br


- @trainers.each do |trainer|
  =link_to trainer.first_name, trainer_path(trainer)
  =link_to trainer.last_name, trainer_path(trainer)
  
  %br
  %br
  / First Name:
  / = trainer.first_name
  / %br
  / Last Name:
  / = trainer.last_name
  / %br
  / %br

  / About Me:
  / =trainer.about_me
  / %br
  / =link_to "Edit", edit_trainer_path(trainer)
  / %br
  / =link_to "Delete", trainer_path(trainer), method: :delete


  


