%h1
  ="Trainers"
%br

/ %h6
/   =link_to "Home", root_path
%br
%br
/ =link_to :back
%br
%h4
  =link_to "Add New Trainer", new_trainer_path

%br

- @trainers.each do |trainer|
  .col-xs-4
    %h5
      =link_to trainer.first_name, trainer_path(trainer)
      =link_to trainer.last_name, trainer_path(trainer)
  
  


  


