=link_to "Home", root_path
%br
%br

=link_to "Back", trainers_path
%br 
=link_to "Edit", edit_trainer_path
%br
=link_to "Delete", trainer_path, method: :delete
%br
%br
First Name: 
= @trainer.first_name
%br
Last Name:
= @trainer.last_name
%br
About Me:
= @trainer.about_me
  